
@font-face {
	font-family: "Nerd";
	src: url(fonts/JetBrainsMonoNLNerdFont-SemiBold.ttf);
}
html {
	font-family: Nerd;
}
@keyframes shifty {
	0% { background-position: 0% 50%;}
	50%{ background-position: 100% 50%;}
	100% { background-position: 0% 50%; }
}
body {
	background: linear-gradient(-45deg, #d3d7e0, #dadae9, #8a9db9, #b5c6d8);
	background-size: 400% 400%;
	animation: shifty 5s ease infinite;
	
}



.banner {
	height: auto;
	border: 4px solid;
	margin-top: 7%;
	margin-left: 7%;
	padding: 20px;
	float: left;
	
}

.profile_pic{
		height: 400px;
		width: 400px;
		object-fit: cover;
		border-radius: 50%;
		display: block;
		margin: auto;
		border: 2px solid;
}
.a1 {
		display: block;
		width: fit-content;
		padding: 10px 20px;
		margin: 10px auto 0;
		color: black;
}
.icons{
	text-align: center;
	padding: 10px 20px;
}

.summary{
	min-height: 70vh;
	border: 4px solid;
	background-color: #D4D4D4;
	border-radius: 10px;
	border-style: groove;
	padding: 2%;
	display: flex;
	flex-direction: column;
	.techtitle{
		text-align: center;
		padding-bottom: 0;
		font-size: 50px;
	}
	.language-icons{
		display: flex;
		flex-direction: row;
		svg, img{
			width: 80px;
			margin-left: auto;
			margin-right: auto;
		}
	}

}
.intro{
	color: black;	
}

.title{
	font-size: 35px;
	text-align: center;
}

.experience{
	overflow: hidden;
	min-width: 20px;
	
}
.experience_1{
	border: 2px solid;
	border-color: grey;
	background-color: #D4D4D4;
	border-style: groove;
	border-radius: 10px;

	h3{
		padding-left: 20px;
		
	}
	p{
		padding-left: 20px;
		padding-right: 30px;
	}

}
.experience_2{
	border: 2px solid;
	border-color: grey;
	background-color: #D4D4D4;
	border-style: groove;
	border-radius: 10px;
	h3{
		padding-left: 20px;
	}
	p{
		padding-left: 20px;
	}
}
.experience_3{
	border: 2px solid;
	border-color: grey;
	margin-top: 5%;
	background-color: #D4D4D4;
	border-style: groove;
	border-radius: 10px;
	h3{
		padding-left: 20px;
	}
	p{
		padding-left: 20px;
	}
}
.experience_4{
	border: 2px solid;
	border-color: grey;
	margin-top: 5%;
	background-color: #D4D4D4;
	border-style: groove;
	border-radius: 10px;
	h3{
		padding-left: 20px;
	}
	p{
		padding-left: 20px;
	}
}

.projects{
	overflow: hidden;
	min-width: 20px;
}
.title2{
	font-size: 35px;
	text-align: center;
}
.project_1{
	border: 4px solid;
	min-height: 400px;
	h3{
		padding-left: 20px;
	}
	p{
		padding-left: 20px;
	}
}






@media only screen and (max-width: 600px) {
	.profile_pic{
		height: 300px;
		width: 300px;
	}
	.a1{
		font-size: 2rem;
	}
	.banner{
		border-color: red;
		float: none;
		margin: auto;
		
	}
	
	.summary{
		border-color: red;
		float: none;
		width: auto;
		margin: auto;
	}
	.intro{
		font-size: 30px;
	}
	.icons{
		font-size: 60px;
	}
	.experience_1{
		margin: 5%;
	}
	.experience_2{
		margin: 5%;
	}
	.experience_3{
		margin: 5%;
	}
	.experience_4{
		margin: 5%;
	}

}


@media only screen and (min-width: 601px) {
	.banner{
		border-color: blue;
		float: none;
		margin: auto;
	}
	.a1{
		font-size: 2rem;
	}
	.summary{
		border-color: blue;
		float: none;
		width: auto;
		margin: auto;
	}
	.intro{
		font-size: 30px;
	}
	.icons{
		font-size: 60px;
	}
	.experience_1{
		margin: 5%;
	}
	.experience_2{
		margin: 5%;
	}
	.experience_3{
		margin: 5%;
	}
	.experience_4{
		margin: 5%;
	}

}



@media only screen and (min-width: 768px) {
	.banner{
		border-color: yellow;
		float: none;
	}
	.a1{
		font-size: 2rem;
	}
	.summary{
		border-color: yellow;
		float: none;
	}
	.intro{
		font-size: 30px;
	}
	.icons{
		font-size: 60px;
	}



}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner{
		border-color: green;
		float: none;
		
	}
	.a1{
		font-size: 2rem;
	}
	.summary{
		border-color: green;
		float: none;
	}
	.intro{
		font-size: 30px;
	}
	.icons{
		font-size: 60px;
	}
	.experience_1{
		margin: 5%;
	}
	.experience_2{
		margin: 5%;
	}
	.experience_3{
		margin: 5%;
	}
	.experience_4{
		margin: 5%;
	}

}


@media only screen and (min-width: 1200px) {
	.banner{
		border-color: purple;
		float: left;
		margin-left: 7%;
		margin-top: 4%;
		position: fixed;
	}
	.a1{
		font-size: 2rem;
	}
	.summary{
		border-color: purple;
		float: right;
		margin-right: 15%;
		margin-top: 4%;
		margin-left: 45%;
	}
	.intro{
		font-size: 30px;
	}
	.experience{
		margin-left: 45%;
		margin-right: 15%;
	}
	.experience_1{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: left;
		font-size: 70%;
		margin: auto;
		font-size: 1vh;
	}
	.experience_2{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: right;
		font-size: 1vh;
		margin: auto;
	}
	.experience_3{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: left;
		font-size: 1vh;
		margin: 5% auto;
	}
	.experience_4{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: right;
		font-size: 1vh;
		margin: 5% auto;
	}
	.projects{
		margin-left: 45%;
		margin-right: 15%;
	}
	.icons{
		font-size: 60px;
	}

}

@media only screen and (min-width: 1560px) {
	.banner{
		border-color: pink;
		float: left;
		margin-left: 7%;
		margin-top: 4%;
		position: fixed;
	}
	.a1{
		font-size: 2rem;
	}
	.summary{
		border-color: purple;
		float: right;
		margin-right: 15%;
		margin-top: 4%;
		margin-left: 45%;
	}
	.intro{
		font-size: 30px;
	}
	.experience{
		margin-left: 45%;
		margin-right: 15%;
	}
	.experience_1{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: left;
		font-size: 80%;
	}
	.experience_2{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: right;
		font-size: 80%;
	}
	.experience_3{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: left;
		font-size: 80%;
	}
	.experience_4{
		max-height: 400px;
		min-height: 400px;
		width: 48%;
		float: right;
		font-size: 80%;
	}
	.projects{
		margin-left: 45%;
		margin-right: 15%;
	}
	.icons{
		font-size: 60px;
	}

}

@media only screen and (min-width: 1920px) {
	.banner{
		border-color: orange;
		float: left;
		margin-left: 7%;
		margin-top: 4%;
		position: fixed;
	}
	.a1{
		font-size: 2.6rem;
	}
	.summary{
		border-color: orange;
		float: right;
		margin-right: 15%;
		margin-top: 4%;
		margin-left: 30%;
	}
	.intro{
		font-size: 50px;
		border: 2px solid;
		border-color: red;
		padding-bottom: none;
	}

	.experience{
		margin-left: 30%;
		margin-right: 15%;

	}
	.experience_1{
		max-height: 400px;
		min-height: 400px;
		width: 45%;
		float: left;
		font-size: 100%;
	}
	.experience_2{
		width: 45%;
		float: right;
		max-height: 400px;
		min-height: 400px;
		font-size: 100%;
	}
	.experience_3{
		max-height: 400px;
		min-height: 400px;
		width: 45%;
		float: left;
		font-size: 100%;
	}
	.experience_4{
		max-height: 400px;
		min-height: 400px;
		width: 45%;
		float: right;
		font-size: 100%;
	}

	.projects{
		margin-left: 30%;
		margin-right: 15%;

	}
	.icons{
		font-size: 70px;
	}
	
}








