html {
	font-size: 62.5%
}
body {
	background-color: #F1EADA;
}



.banner {
	height: 60%;
	border: 4px solid;

	.profile_pic{
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 50%;
		margin: auto;
	}

	a {
		display: block;
		width: fit-content;
		border: 2px solid  #fff;
		padding: 10px 20px;
		margin: 20px auto 0;
		font-size: 2.6rem;
	}
}


.summary{
	width: 70%;
	height: 90%;
	margin: auto;
	padding: 10px 20px;
	border: 4px solid blue;


}








@media only screen and (max-width: 600px) {
	.banner{
		border-color: red;
		position:relative;
		margin: 5% 17%;
	}
	
	.summary{
		border-color: red;
		width: 80%
	}
}


@media only screen and (min-width: 601px) {
	.banner{
		border-color: blue;
		position: relative;
		margin: 5% 17%;
	}
	.summary{
		border-color: blue;
		width: 80%
	}
}



@media only screen and (min-width: 768px) {
	.banner{
		border-color: yellow;
		margin: 5% 17%;
	}
	.summary{
		border-color: yellow;
		width: 80%
	}
}

@media only screen and (min-width: 992px) {
	.banner{
		border-color: green;
		margin: 5% 17%;
		
	}
	.summary{
		border-color: green;
		width: 80%
	}
}

@media only screen and (min-width: 1200px) {
	.banner{
		border-color: purple;
		margin: 5%;
		position: fixed;
	}
	.summary{
		border-color: purple;
		width: 80%
	}
}








